@charset "UTF-8";

:root {
    --azul_principal: #3B91F5;
    --azul_botao: #4A9BF5;
    --branco: #FFFFFF;
    --texto_principal: #334155;
    --texto_secundario: #64748B;
    --preto: #000000;
    --fundo_secundario: #F8FAFC;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--fundo_secundario);
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 5px;
}

h1 {
    color: var(--texto_principal);
    font-size: 30px;
    margin: 10px 5px;
}

p {
    font-size: 19px;
    color: var(--texto_secundario);
}


header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: var(--preto);
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: var(--azul_principal);
}

.caixa_cadastro {
    background-color: var(--branco);
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 7px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

.textos {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin: 20px 0 5px;
    color: var(--texto_principal);
    font-size: 18px;
}

input {
    width: 95%;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid var(--texto_secundario);
    margin: 10px auto; 
    font-size: 16px;
}

.parte_forms {
    margin-top: 20px;
}

button {
    background-color: var(--azul_botao);
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 80%;
    margin-top: 20px;
}

.campo_botao {
    margin: auto;
    text-align: center;
}

button:hover {
    background-color: var(--azul_principal);
    cursor: pointer;
}

.textos a {
    text-decoration: none;
}

.textos a:hover {
    color: var(--azul_principal);
}

.erro {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.caixa_login {
    background-color: var(--branco);
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 7px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.botao {
    background-color: var(--azul_botao);
    color: var(--branco);
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid var(--azul_principal);
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
}

.opcoes {
    margin:auto 0;
}

.botao:hover {
    background-color: var(--azul_principal);
}

.caixa_tarefas {
    background-color: var(--branco);
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 7px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

.textos_add_tarefas {
    display: flex;
    justify-content: space-between;
    
}

.conteiner {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.tarefas {
    max-width: 1200px;
    width: 90%;
    padding: 10px;
    background-color: var(--branco);
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.linha_tarefa {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px var(--texto_secundario);
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.textos_tarefa {
    width: 50%;
}

.opcoes_tarefa {
    margin: auto 10px;
}

.editar, .excluir {
    text-decoration: none;
    color: var(--fundo_secundario);
    background-color: var(--azul_botao);
    padding: 7px;
    border-radius: 7px;
    margin-right: 10px;
}

.excluir {
    background-color: rgb(226, 2, 2);
}

.editar:hover {
    background-color: var(--azul_principal);
}

.excluir:hover {
    background-color: rgb(207, 4, 4);
}

