<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to-do List</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class="cabecalho">
        <div class="conteiner">
            <div class="texto">
                <h1>Minhas Tarefas</h1>
                <p>Organiuze seu dia e aumente sua produtividade!</p>
            </div>
            <div class="opcoes">
                <a class="botao" href="{{ url_for('tarefas.adicionar_tarefa') }}">Adicionar Tarefa</a>
                <a class="botao" href="{{ url_for('usuarios.logout') }}">Sair</a>
            </div>
        </div>
    </section>
    <section class="tarefas_usuario">
        <div class="tarefas">
            {% if tarefas %}
                {% for tarefa in tarefas %}
                    <div class="linha_tarefa">
                        <div class="texto_tarefa">
                            <p>{{tarefa.tarefa}}</p>
                        </div>
                        <div class="opcoes_tarefa">
                            <a class="editar" href="#">Editar</a>
                            <a class="excluir" href="{{url_for('tarefas.excluir_tarefa', id = tarefa.id)}}">Excluir</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="linha_tarefa">
                    <div class="texto_tarefa">
                        <p>Sem tarefas</p>
                    </div>
                </div>
            {% endif %}        
        </div>
    </section>
</body>
</html>